<div role="navigation" class="navbar navbar-default navbar-fixed-top">
    
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" ng-href="/#/">githubBatch</a>
        </div>

        <div class="nav navbar-nav controls" ng-show="loggedIn.value">
            <form class="navbar-form">
                <div class="form-group">
                    <div class="input-group">
                        <input 
                            type="text" 
                            autocomplete="off" 
                            ng-model="issues.repo" 
                            typeahead="repo as repo.name for repo in repos | filter:{name:$viewValue}"
                            typeahead-on-select="repoSelect($item, $model, $label)"
                            class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="clear()">Clear</button>
                        </span>
                    </div>
                    <button 
                        type="submit" 
                        class="btn btn-default" 
                        ng-class="{'btn-success': issues.issues.length > 0}"
                        ng-click="submit()">
                        <ng-pluralize 
                            count="issues.issues.length"
                            when="{'0': 'No issues',
                            'one': 'Create 1 new issue',
                            'other': 'Create {} new issues'}">
                        </ng-pluralize>
                    </button>
                </div>
            </form>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="/#/login" ng-show="!loggedIn.value">Log in</a></li>
            <li><a ng-href="/#/logout" ng-show="loggedIn.value">Log out</a></li>
        </ul>

    </div>

</div>
