<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="title">
        </div>
    </div>
    <div class="form-group">
        <label for="body" class="col-sm-3 control-label">Body</label>
        <div class="col-sm-9">
            <textarea class="form-control" name="body" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="addIssue()">Add Issue</button>
            <button type="submit" class="btn btn-danger" ng-click="cancelIssue()">Cancel</button>
        </div>
    </div>
</form>