<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="body" class="col-sm-3 control-label">Issues</label>
        <div class="col-sm-9">
            <textarea class="form-control" name="body" rows="6"></textarea>
            <p class="help-block">Each issue title should go on a new line.</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-click="addIssue()">Add Issues</button>
            <button type="submit" class="btn btn-danger" ng-click="cancelIssue()">Cancel</button>
        </div>
    </div>
</form>