<form role="form" ng-submit="submit()">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input 
                    type="text" 
                    autocomplete="off" 
                    ng-model="selected" 
                    typeahead="repo as repo.name for repo in getRepos() | filter:{name:$viewValue}" 
                    class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Choose Repo</button>
                </span>
            </div>
        </div>
    </div>
</form>
