<div ng-show="!github.currentRepo">You need to select a repo first!</div>

<div ng-show="github.currentRepo">

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues.issues">
                <td class="title-field">
                    <div 
                        editable-text="issues[$index].title"
                        e-placeholder="Enter issue title..."
                        buttons="no"
                        onbeforesave="checkTitle($data)"
                        blur="submit">
                        <input type="disabled" class="form-control" value="{{ issues[$index].title || 'empty' }}">
                    </div>
                </td>
                <td class="body-field">
                    <div 
                        editable-textarea="issues[$index].body"
                        e-placeholder="Enter issue body..."
                        buttons="no"
                        blur="submit">
                        <div class="body-container">{{ issues[$index].body || 'empty' }}</div>
                    </div>
                </td>
                <td>
                    <span class="glyphicon glyphicon-remove-sign remove-issue" ng-click="deleteIssue($index)"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <button class="btn btn-default" ng-click="addIssue()">Add issue</button>
    </div>

</div>