<div class="jumbotron">
    <h1>Github Batch</h1>
    <p class="lead">Because sometimes, you need to create a whole bunch of issues.</p>
    <p><a class="btn btn-lg btn-success" ng-href="/#/login">Get started <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="features">

    <div class="feature row">
        <div class="description col-sm-6 col-sm-offset-1">
            <h3>Simple.</h3>
            <p>Login with Github, choose a repo and start creating issues.</p>
        </div>
        <div class="image col-sm-4">
            image
        </div>
    </div>

    <div class="feature row">
        <div class="description col-sm-6 col-sm-offset-1">
            <h3>Free.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="image col-sm-4">
            image
        </div>
    </div>

    <div class="feature row">
        <div class="description col-sm-6 col-sm-offset-1">
            <h3>Problems?</h3>
            <p>If anything seems a bit weird, please <a href="https://github.com/rogerhutchings/github-batch">log an issue on Github</a>, or submit a pull-request if you're feeling really proactive.</p>
            <p>Alternatively, you can send me a tweet at <a href="http://twitter.com/drrogg">@drrogg</a>.</p>

        </div>
        <div class="image col-sm-4">
            image
        </div>
    </div>    

</div>
